.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
