@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
input.yellow-input + label {
  color: #ffffff !important;
}
input.yellow-input:focus + label {
  color: #ffeb3b !important;
}
input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}
.buttons {
  margin-top: 20px;
}
.btnSubmit {
  height: 30px;
  border: 1px solid;
  background-color: #ffeb3b;
  color: black;
  border-radius: 3px;
}
.btnSubmit:disabled {
  height: 30px;
  border: 1px solid;
  background-color: #dcdcdc;
  color: #a9a9a9;
  border-radius: 3px;
}
.forgotPassword {
  padding-left: 20px;
}
.linkReg {
  margin-left: 20px;
}
.linkReg:hover {
  color: #3f51b5;
}
.links {
  color: white;
  margin-left: 20px;
}
.links:hover {
  color: #81d4fa;
}
.basic-table {
  margin-top: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1976d2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1976d2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

